<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>blog</title>
</head>
<body>

<nav>
    <ul>
        <li>
            <a href="/">상품목록</a>
        </li>
        <li>
            <a href="/store/save-form">상품등록</a>
        </li>
        <li>
            <a href="/log/list">구매목록</a>
        </li>
    </ul>
</nav>

<hr>