{{> layout/header}}

<section>
    <a href="/store/{{model.id}}/update-form">수정화면가기</a>
    <form action="/store/{{model.id}}/delete" method="POST">
        <button type="submit">삭제</button>
    </form>
        {{#model}}
        <div>
            번호 : {{id}} <br>
            상품명 : {{name}} <br>
            상품가격 : {{price}}원 <br>
            상품재고 : {{stock}}개 <br>
        </div>
            {{/model}}
    <form action="#">
    
        <input type="hidden" value="1">
        <input type="text" placeholder="당신은 누구인가요?">
        <input type="text" placeholder="Enter 개수">
        <button type="submit">구매</button>
    </form>
</section>

</body>
</html>