{{> layout/header}}

<section>
    <form action="/store/{{model.id}}/update-form" method="get">
        <button type="submit">수정</button>
    </form>
    <form action="/store/{{model.id}}/delete" method="post">
        <button type="submit">삭제</button>
    </form>
    <div>
        번호 : {{model.id}} <br>
        상품명 : {{model.name}} <br>
        상품가격 : {{model.price}}원 <br>
        상품재고 : {{model.stock}}개 <br>
    </div>
    <hr>
    <form action="/log/save" method="post">
        <input type="hidden" value="{{model.id}}" name="storeId">
        <input type="text" placeholder="당신은 누구인가요?"name="buyer">
        <input type="text" placeholder="Enter 개수"name="qty">
        <button type="submit">구매</button>
    </form>
</section>

</body>
</html>