{{>layout/header}}


<section>
    <table border="1">
        <tr>
            <th>번호</th>
            <th>상품명</th>
            <th></th>
        </tr>

        <tr>
            <td>1</td>
            <td>바나나</td>
            <td><a href="/store/1">상세보기</a></td>
        </tr>

        <tr>
            <td>2</td>
            <td>딸기</td>
            <td><a href="/store/2">상세보기</a></td>
        </tr>


    </table>
</section>

</body>
</html>