{{>layout/header}}


<section>
    <table border="1">
        <tr>
            <th>번호</th>
            <th>상품명</th>
            <th></th>
        </tr>

        {{#models}}
        <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td><a href="/store/{{id}}">상세보기</a></td>
        </tr>
        {{/models}}



    </table>
</section>

</body>
</html>