{{> layout/header}}

<section>
    <form action="/store/save" method="post">
        <input type="text" placeholder="상품명"><br>
        <input type="text" placeholder="수량"><br>
        <input type="text" placeholder="가격"><br>
        <button type="submit">상품등록</button>
    </form>
</section>

</body>
</html>