{{> layout/header}}

<section>
    <form action="/store/1/update" method="post">
        <input type="text" value="바나나"><br>
        <input type="text" value="100"><br>
        <input type="text" value="3000"><br>
        <button type="submit">상품수정</button>
    </form>
</section>

</body>
</html>