{{> layout/header}}

<section>
    <form action="/store/{{model.id}}/update" method="post">
        <input type="text" value="{{model.name}}" name="name"><br>
        <input type="text" value="{{model.stock}}" name="stock"><br>
        <input type="text" value="{{model.price}}" name="price"><br>
        <button type="submit">상품수정</button>
    </form>
</section>

</body>
</html>