{{>layout/header}}


<section>
    <table border="1">
        <tr>
            <th>주문번호</th>
            <th>상품명(조인)</th>
            <th>구매개수</th>
            <th>총가격</th>
            <th>구매자이름</th>
        </tr>

        <tr>
            <td>1</td>
            <td>바나나</td>
            <td>5개</td>
            <td>15000원</td>
            <td>ssar</td>
        </tr>

        <tr>
            <td>2</td>
            <td>바나나</td>
            <td>5개</td>
            <td>15000원</td>
            <td>ssar</td>
        </tr>

        <tr>
            <td>3</td>
            <td>딸기</td>
            <td>5개</td>
            <td>10000원</td>
            <td>cos</td>
        </tr>

    </table>
</section>

</body>
</html>