{{>layout/header}}


<section>
    <table border="1">
        <tr>
            <th>주문번호</th>
            <th>상품명(조인)</th>
            <th>구매개수</th>
            <th>총가격</th>
            <th>구매자이름</th>
        </tr>
{{#models}}
        <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{qty}}</td>
            <td>{{totalPrice}}</td>
            <td>{{buyer}}</td>
        </tr>
{{/models}}
    </table>
</section>

</body>
</html>